/*-------------------------
dark green: #006266/ lighter #008388 Turkish Aqua
brown: #553b2f
background color: #f8f2f2 on browser
-------------------------*/

/*-------------------------
BASIC SETUP
-------------------------*/

*{
    margin:auto;
    padding:0;
    box-sizing: border-box;
}

html{
    background-color: #e5e5e5;
    color:#553b2f;
    font-family: 'Montserrat','Arial',sans-serif;
    font-weight: 300;
    font-size:20px;
    text-rendering: optimizeLegibility
}

.row{
    max-width: 1140px;
    margin:0 auto;
}

section{padding:10px 0;}

.box{padding:1%}

.horizontal{
    display:flex;
}

.vertical{
    flex:50%;
    padding:2px;
}

.vertical2-3{
    flex:66%
    padding:2px;
}

.vertical1-3{
    flex:33%
    padding:2px;
}
h2{
    color:#553b2f;
    letter-spacing:1px;
    text-transform:uppercase;
    font-size:120%;
    word-spacing: 2px;
    margin-top:5px;
    margin-bottom: 5px;
    width:70%;
    text-align: center;
}

.section_intro{
    line-height: :100%;
    width: 70%;
    margin-left: 0 15%;
    text-align: center;
    margin-bottom:10px;
    font-size: 80%
}

h3{
    color:#553b2f;
    letter-spacing:1px;
    text-transform:uppercase;
    font-size:100%;
    word-spacing: 1px;
    margin-top:15px;
    margin-bottom: 15px;
    width:100%;
    text-align: center;
}

h4{
    color:#553b2f;
    font-size:90%;
    word-spacing: 1px;
    margin-top:0px;
    margin-bottom: 5px;
    width:100%;
    text-align: left;
}


/*-------------------------
NAVIGAION
-------------------------*/

/* TOP NAVIGATION */


header{
    background-size:cover;
    background-position: center;
    height:10vh;
}

.logo{
    height: 33px;
    width: auto;
    float: left;
    margin-top:12px;
    margin-left:20px;
}

.top-nav{
    float:right;
    list-style:none;
    margin-top: 20px;
    margin-bottom: 8px;
}

.top-nav li{
    display: inline-block;
    margin-left: 40px;
    margin-right: 20px;
}

.top-nav li a:link,
.top-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.7s;
}

.top-nav li a:hover,
.top-nav li a:active{
    border-bottom: 2px solid #006266;
}
/* STICKY NAVIGATION */

.sticky {
    position: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),#000),url(img/arch.png);
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

/* SIDEBAR */

#menu{
    padding: 0;
    position: absolute;
    right:0px;
    top: 50px;
    width: 14em;
}

.vertical-1-of-2{
    height:50%;
}

.consumerstudies{
    border-left: 5px solid #008388;
    margin: 10px 0;
}

.socialstudies{
    border-left: 5px solid #553b2f;
    margin: 10px 0;
}

#menu p{
    color:#553b2f;
    font-size:60%;
    word-spacing: 1px;
    margin-top:5px;
    margin-bottom: 10px;
    width:100%;
    text-align: left;
}

.project-photo img{
    border-radius: 10%;
    max-width: 90%;
    float: right;
    margin-right: 2px;
}

.sidebar a:link,
.sidebar a:visited{
    padding: 0;
}
/*-------------------------
Project
-------------------------*/

.project-demo{
    position: absolute;
    top: 70px;
    width: 48em;
    left: 30px;
    min-height: 100vh;
}

.highlights{
    margin: 40px 10px;
    padding:5px;
}

.highlights h5{
    color:#006266;
    letter-spacing:1px;
    text-transform:uppercase;
    font-size:70%;
    word-spacing: 1px;
    margin-top:1px;
    margin-bottom: 10px;
    padding-right: 5px;
    width:100%;
    text-align: center;
}

.highlights p{
    color:#553b2f;
    font-size:70%;
    word-spacing: 1px;
    margin-top:5px;
    margin-bottom: 20px;
    width:100%;
    text-align: center;
}

.project-details{
    margin: 20px 40px 20px 10px;
    padding:10px 60px;
}

.project-details h2{
    color:#553b2f;
    letter-spacing:1px;
    text-transform:uppercase;
    font-size:150%;
    line-height: 40px;
    word-spacing: 1px;
    margin-top:5px;
    margin-bottom: 30px;
    padding-right: 5px;
    width:100%;
    text-align: center;
}

.project-details h5{
    color:#006266;
    letter-spacing:1px;
    text-transform:uppercase;
    font-size:100%;
    word-spacing: 1px;
    margin-top:15px;
    margin-bottom: 10px;
    padding-right: 5px;
    width:100%;
    text-align: center;
}

.project-details p{
    color:#553b2f;
    font-size:80%;
    word-spacing: 1px;
    margin-top:5px;
    margin-bottom: 10px;
    line-height: 20px;
    width:100%;
    text-align: left;
}

.project-details img{
    border-radius: 1%;
    margin-top:10px;
    margin-bottom: 20px;
}

/*-------------------------
FOOTER
-------------------------*/


footer{
    font-size: 80%;

}

.footer-nav{
    margin-top:0;
    padding:0;
    list-style: none;
    float:left;
}

.socialmedia{
    list-style: none;
    float: right;
}

.footer-nav li,
.socialmedia li{
    display:inline-block;
    margin: 5px 10px;
}

.footer-nav li a: link,
.footer-nav li a: visited{
    text-decoration: none;
    border:0;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: color 0.7s;
}

.socialmedia li a: link,
.socialmedia li a: visited{
    border:0;
    transition: color 0.7s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    padding: 8px 0;
    color: #006266;
    border-bottom: 2px solid #006266;
    transition: border-bottom 0.7s; 
}

.link-icon{
    height:20px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    float: right;
}

footer p{
    position: absolute;
    margin-top: -3%;
    margin-left: 37%;
    font-size: 80%;
    color:#006266;
    text-align: center;
    
}